@import "magic-stylez";

html, body {
	width: 100%; height: 100%; position: relative;
	margin: 0; padding: 0;
	background: #f3f2f2;
}
body { position: relative; padding: 0 0 0 220px;}

#app_content {
	display: block; position: relative;
	width: 100%; height: 100%;
	// margin-left: 220px;
	// background: #333;
	// .section {
	// 	&, & > .corset { background: #333; color: #ccc; }
	// 	&.head, &.head > .corset {
	// 		background: #000; color: #ccc;
	// 	}
	// }
	
	
}


.banner-box.responsive-hero {
	// .banner-head, .banner-footer {
	// 	padding: 10px 0;
	// }
	// .banner-footer { background: rgba(0,0,0,.23); }
}


#aside {
	// @mixin single_shine( $color, $times: 3, $position: right, $width: 5px, $blur: 5px, $size: 0, $corner: 100 )
	@include single_shine( rgba(0,0,0,.23), 1, right, 10px );
	display: block; position: fixed;
	top: 0; right: auto; bottom: 0; left: 0;
	width: 220px;
	z-index: 99;
	// box-shadow: inset -2px 0 3px 0 #000;
	border-right: solid 1px #ccc;
}

ul {
	display: block; position: relative;
	list-style: none;
	margin: 0; padding: 10px;
	text-align: left;
	li {
		display: block; position: relative;
		margin: 0; padding: 5px;
	}
}

// .section .corset { text-align: left; }
.section { text-align: left; }



.help_arrow {
	// display: block;
	position: relative;
	z-index: 7;
	&:before, &:after {
		font-family: 'Gloria Hallelujah', cursive;
		font-weight: 400;
	}
	&:before {
		display: block; position: absolute; content: "";
		padding: 0;
		width: 50px; height: 50px;
		bottom: 100%; left: 50%;
		margin: 0 0 10px -25px;
		background: transparent image-url("magic/arrows/arrow2-2.png") center center no-repeat;
		background-size: contain;
		@include rotation(-53);
	}
	&:after {
		display: block; position: absolute; content: attr(data-intro);
		padding: 0;
		height: 30px; line-height: 30px;
		bottom: 100%; left: 50%;
		margin: 0 0 37px 30px;
		color: #a0c775;
		font-size: 28px; font-weight: 300;
		text-shadow: 0 1px 1px #000;
	}
}




