<div id="aside">
  <div class="aside-content">
    <ul class="nav_list flat">
      <li class="current active"><%= link_to "Magic-Stylez", "#", class: "app_lnk lst_lnk", data: {target: ""} %></li>
      <% pathes = {} %>
      <% Dir.glob("#{Rails.root}/app/assets/javascripts/views/**/*").each do |ff| %>
        <% path = ff.gsub("#{Rails.root}/app/assets/javascripts/views/", "") %>
        <% if path.match(/\.jst.eco$/) %>
          <% path = path.gsub(".jst.eco", "") %>
          <% ar = path.split("/") %>
          <% pathes[ar[0]] ||= {} %>
          <% pathes[ ar[0] ][ ar[1] ] = path %>
        <% end %>
      <% end %>
      <% pathes.each do |main, sub| %>
        <% unless main == "app" %>
          <li><%= link_to main.titleize, "#", class: "lst_lnk" %>
            <ul class="sub_nav">
              <% sub.each do |lnk, path| %>
                <% unless Rails.env.production? && %w(reflections slide_boxes).include?( lnk.to_s ) %>
                  <li><%= link_to lnk.titleize, "#", class: "app_lnk lst_lnk", data: {target: path} %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
    
    <a href="https://github.com/berlinmagic/magic_stylez/tree/master" target="_blank" class="btn btn-default btn-divided">
      <span class="icn"><i class="icomoon-github3"></i></span>
      <span>SourceCode</span>
    </a>
    <div class="clearfix"></div>
    <br/>
  </div>
</div>